@layout('main')
@section('content')

<div class="jumbotrom">
  <h1>{{task.title}}</h1>
  <p>{{task.body}}</p>
</div>
<hr class="my-4">
<a href="/tasks" class="btn btn-primary btn-lg">Go back</a>
@endsection
