@layout('main')
@section('content')

<h1>{{title}}</h1>
@if(old('notification'))
<div class="alert alert-success" role="alert">
  {{old('notification')}}
</div>
@endif
<div class="list-group">
  @each(item in tasks)
  <a href="/task/{{item.id}}" type="button" class="list-group-item list-group-item-action">{{item.title}}</a>
  @endeach
</div>
<script>

</script>
@endsection
